*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #dbdde4;
}
.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.form{
    padding: 30px;
    background-color: #fff;
    width: 740px;
    border-radius: 14px;
    margin-top: 20px;
}
.form .profile{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.form .profile img{
    width: 60px;
    border-radius: 44px;
    margin-bottom: 15px;
}
.form .profile label{
    display: block;
    font-size: 16px;
    color: #4379EE;
    cursor: pointer;
}
.inputs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.inputs label{
    display: block;
    color: #606060;
    margin-bottom: 11px;
}
.inputs input{
    padding: 12px;
    background-color: #F5F6FA;
    margin-bottom: 30px;
    width: 280px;
    border-radius: 4px;
    border: 1px solid #D5D5D5;
}
.inputs input::placeholder{
    color: #a39f9f;
}
.input_1 select{
    padding: 12px;
    background-color: #F5F6FA;
    margin-bottom: 30px;
    width: 280px;
    border-radius: 4px;
    border: 1px solid #D5D5D5;
    color: #a39f9f;
}
.submit{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.submit a{
     padding: 12px 100px;
     color: #fff;
     border: 1px solid #4379EE;
     background-color: #4880ff;
     border-radius: 12px;
     font-size: 16px;
}