body{
    margin: 0;
    padding: 0;
    background-color: rgb(55, 65, 81);
    box-sizing: border-box;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    background: #41444B; /* Dark background */
    position:fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 12vh;
    

}



.nav h1 {
    color: whitesmoke;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin: 0;
    align-items: center;
    margin-left: 20px;
    padding: 10px;
    font-size: 40px;
}


/* Navigation Links */
.tags {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: flex end;
    margin-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/* Navigation Links Styling */
.tags a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    
}

/* Hover Effects */
.tags a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 800px;
    height: 430px;
    justify-content: center;
    text-align: center; /* Ensures elements inside divs align center */
    background-color: #41444B;
    box-shadow: -0px 0px 20px  rgba(0, 0, 0, 0.6);
    border: none;
    color: whitesmoke;
}

.container h3{ 
margin-bottom: 40px;
}
label {
    display: inline-block;
    width: 150px;
    text-align: center;
    height: 25px;
    margin-bottom: 25px;
}

input{
    height: 25px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
}

button {
    text-align: center;
    width: 80px;
    height: 40px;
    background-color: rgb(254, 224, 94);
    border-radius: 15px;
}